[Unit]
Description=OpenSCAP Daemon
Documentation=http://open-scap.org/tools/openscap-daemon

[Service]
Type=dbus
BusName=org.OpenSCAP.daemon
ExecStart=/usr/bin/oscapd

[Install]
WantedBy=multi-user.target
